body{
    background-color: aliceblue;
    text-decoration: solid;
    color: blueviolet;
    text-shadow: 1in;
}


.btn1{
  background-color: gainsboro;
  color: yellowgreen;
  font-style: italic;

}